*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.position-dropdown{
    top: 37px!important;
    right: 0%!important;
}
.search {
    width: calc(100% - 145px - 155px);
}
.sidebar {
    background-image: url(./img/sidebar-bg.png);
    
}
